* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

a {
    text-transform: none;
    text-decoration: none;
    color: inherit;
}

header {
    border-bottom: 1px solid black;
    width: 100%;
}

.header__container {
    width: 100%;
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0.25rem auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.header__brand {
    /*  */
    width: 140px;
    height: 80px;
    display: block;

    &>img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5em;
}

/* hero */
.hero {
    width: 100%;
    min-height: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0%;
    z-index: 0;

    &>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hero__content {
    position: inherit;
    z-index: 1;
    color: white;

    &>h2 {
        font-weight: 500;
        font-size: 4em;
        margin-bottom: 1rem;
    }

    &>p {
        font-weight: 400;
        font-size: 1.3em;
        opacity: 0.7;
    }
}

/* SECOND SECTION */
.whats {
    width: 100%;
    padding: 4rem 0;

    &>h2 {
        font-size: 3em;
        margin-bottom: 1rem;
        text-align: center;
    }
}

.whats__container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 4rem;

}

.whats_card {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &>img {
        width: 150px;
        aspect-ratio: 1;
        object-fit: contain;
        margin-bottom: 0.25rem;
    }

    &>h3 {
        color: rgb(35, 199, 35);
        font-size: 1.8em;
        margin-bottom: 1rem;
    }

    &>p {
        font-size: 1.5em;
        opacity: 0.8;
        font-weight: lighter;
    }
}

/* FOOTER */
.footer {
    background-color: rgb(35, 199, 35);
    color: white;
    padding: 5rem 10rem;

    &>h2 {
        font-weight: 500;
        font-size: 2.3em;
        margin-bottom: 4rem;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid white;
        width: fit-content;
        font-weight: 500;
    }
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.footer__spotify {
    width: 200px;
    aspect-ratio: 1;

    &>img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.footer__app {
    height: 600px;
    aspect-ratio: 9/16;

    &>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.footer__text {
    &>h3 {
        font-size: 1.8em;
        margin-bottom: 1rem;
    }

    &>p {
        font-weight: 100;
        font-size: 1.5em;
        margin-bottom: 2rem;
        opacity: 0.9;
    }
}