* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 3rem auto;
    text-align: center;
    & > * {
        margin-bottom: 1rem;
        font-size: 2em;
    }
}

button {
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: 0px solid black;
    color: white;
    cursor: pointer;
    transition: 200ms;
    &:hover {
        filter: brightness(0.8);
    }
}
#btn-inc {
    background-color: rgb(0, 184, 0);
}

#btn-dec {
    background-color: rgb(204, 13, 13);
}

#btn-rei {
    background-color: rgb(13, 122, 196);
}