:root {
    --color-primary: #2c5e1a;
    --color-primary-light: #48a23f;
    --color-primary-dark: #1e3f12;
    --color-primary-content: #e8f5e9;

    --color-secondary: #e67e22;
    --color-secondary-dark: #d35400;
    --color-secondary-content: #ffffff;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container-lg {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#menu_mobile {
    display: none;
}

/* HEADER */

.header {
    position: sticky;
    top: 0;
    z-index: 100000;
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-primary-content);
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0px 0px 1rem 0.5rem #00000050;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &>figure {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        background-color: var(--color-primary-content);
        color: var(--color-primary);
        font-size: 1.25em;
        font-weight: 800;
        border-radius: 50%;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &>h1 {
        font-size: 1.3em;
    }
}

.header__mobile-content {
    display: none;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem 0;

    &>a {
        color: var(--color-primary-content);
        padding: 0.25rem;

        &:active, &:hover {
            background-color: rgba(255, 255, 255, 0.212);
            border-radius: 0.5rem;
        }
    }
}

#menu_mobile:checked~.header .header__mobile-content {
    display: flex;
}

.header .fa-x {
    display: none;
}

#menu_mobile:checked~.header .fa-x {
    display: block;
}


#menu_mobile:checked~.header .fa-bars {
    display: none !important;
}

.header__list {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    & a {
        display: block;
        color: var(--color-primary-content);
        transition: 300ms;

        &:hover {
            scale: 1.01;
            color: var(--color-secondary);
        }
    }
}

/* HERO */
.hero {
    position: relative;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    filter: brightness(0.3);

    &>video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hero__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;

    position: relative;
    z-index: 1;
    color: var(--color-primary-content);

    &>h1 {
        font-size: 1.75em;
        line-height: 1.4;
        margin-bottom: 0.75rem;
    }

    &>p {
        opacity: 0.9;
        margin-bottom: 0.5rem;
    }

    & button {
        background-color: var(--color-secondary);
        color: var(--color-secondary-content);
        border: 0px;
        padding: 1rem 2rem;
        border-radius: 5rem;
        transition: 300ms;
        cursor: pointer;

        &:hover {
            background-color: var(--color-secondary-dark);
        }
    }
}

/* ABOUT */
.about {
    background-color: rgb(243, 243, 243);
    text-align: center;
}

.about__container {
    &>h2 {
        color: var(--color-primary);
        font-weight: bold;
        font-size: 2em;
        margin-bottom: 2rem;
    }
}

.about__card-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about__card {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 1rem 0px rgba(0, 0, 0, 0.15);
    transition: 300ms;

    &>figure {
        background-color: var(--color-primary-dark);
        color: var(--color-secondary-content);
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 0.5rem;
        overflow: hidden;
        margin-bottom: 2rem;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            text-align: center;
        }
    }

    &:hover {
        scale: 1.05;
    }
}

.about__card-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    line-height: 1.3;

    &>h3 {
        color: var(--color-primary-light);
    }
}

/* KITS */
.kits {
    background-color: var(--color-primary-content);
}

.kits__container {
    & h2 {
        color: var(--color-primary);
        font-size: 1.7em;
        margin-bottom: 3rem;
        text-align: center;
        font-weight: bold;
    }
}

.kit__card-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


.kit__card {
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 5px 5px 1rem 0px rgba(0, 0, 0, 0.15);
    transition: 300ms;

    &>figure {
        width: 100%;
        height: 200px;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &:hover {
        scale: 1.05;
    }
}

.kit__card-content {
    padding: 1.5rem;

    &>* {
        margin-bottom: 1rem;
    }

    &>h3 {
        color: var(--color-primary);
        font-size: 1.4em;
        font-weight: bold;
    }

    &>p {
        font-size: 1em;
        opacity: 0.8;
        line-height: 1.4;
    }

    &>h4 {
        font-size: 1.5em;
        font-weight: bold;
        color: var(--color-secondary);
    }

    &>ul {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        list-style: none;

        & .fa-check {
            color: var(--color-primary-light);
        }
    }

    & button {
        background-color: var(--color-secondary);
        color: var(--color-secondary-content);
        border: 0px;
        padding: 1rem 2rem;
        border-radius: 5rem;
        transition: 300ms;
        cursor: pointer;
        box-shadow: 5px 5px 1rem 0px rgba(0, 0, 0, 0.15);

        &:hover {
            background-color: var(--color-secondary-dark);
        }
    }
}

/* SPONSORS */
.sponsors__container {
    text-align: center;

    &>h2 {
        font-size: 1.5em;
        color: var(--color-primary);
        margin-bottom: 1.8rem;
    }

    &>p {
        opacity: 0.8;
        margin-bottom: 3rem;
    }

    &>.title-mobile {
        display: block;
    }

    &>.title-desktop {
        display: none;
    }
}

.sponsors__card-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    height: 400px;
    overflow-y: auto;
    padding: 0.75rem;
}

.sponsors__card {
    flex-shrink: 0;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 5px 5px 0.75rem 0px rgba(0, 0, 0, 0.15);
    transition: 300ms;

    &>figure {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &:hover {
        scale: 1.03;
        cursor: pointer;
        box-shadow: 5px 5px 1.25rem 0px rgba(0, 0, 0, 0.15);
    }
}

.sponsors__card-content {
    padding: 1.5rem;

    &>* {
        margin-bottom: 1rem;
    }

    &>h3 {
        color: var(--color-primary);
        font-size: 1.3em;
        font-weight: 700;
    }

    &>p {
        font-size: 1em;
        opacity: 0.8;
        line-height: 1.4;
    }

    &>.link {
        font-weight: 700;
        color: var(--color-secondary-dark);
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

/* REGISTER */
.register {
    color: var(--color-primary-content);
    background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary) 40%);
}

.register__container {
    &>h2 {
        margin-bottom: 2rem;
        text-align: center;
    }
}

.register__form {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    padding: 1.5rem;
    border-radius: 1rem;

    & button {
        margin-top: 1rem;
        background-color: var(--color-secondary);
        color: var(--color-secondary-content);
        border: 0px;
        padding: 1rem;
        border-radius: 5rem;
        transition: 300ms;
        cursor: pointer;
        width: 100%;
        font-size: 1.1em;
        font-weight: 700;

        &:hover {
            background-color: var(--color-secondary-dark);
        }
    }
}

.fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.25rem;
    color: white;
}

.input {
    background-color: white;
    border-radius: 0.25rem;
    padding: 0.75rem;
}

/* FOOTER */
.footer {
    text-align: center;
    background-color: var(--color-primary-dark);
    color: var(--color-primary-content);
    padding: 0rem 1rem;
}

.footer__columns {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &>* {
        &>* {
            margin-bottom: 1rem;
        }

        & p {
            opacity: 0.85;
        }

        &>h2 {
            color: var(--color-secondary);
        }
    }

    & form {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 1rem;
        padding: 1.8rem;

        & .fieldset {
            margin: 0;
        }

        & button {
            margin-top: 0.5rem;
            background-color: var(--color-secondary);
            color: var(--color-secondary-content);
            border: 0px;
            padding: 0.7rem;
            border-radius: 5rem;
            transition: 300ms;
            cursor: pointer;
            width: 100%;
            font-weight: 700;

            &:hover {
                background-color: var(--color-secondary-dark);
            }
        }
    }
}

.brands__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &>.button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.2em;
        cursor: pointer;
        transition: 200ms;

        &:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }
    }
}

.footer__footer {
    border-top: 1px solid var(--color-primary-content);
    padding-top: 1rem;
    opacity: 0.8;
    margin-top: 1.5rem;
}

@media (min-width: 768px) {

    /* HEADER */
    .header__mobile-content,
    .header__mobile,
    #menu_mobile:checked~.header .header__mobile-content {
        display: none;
    }

    .header__list {
        display: flex;
    }

    /* HERO */
    .hero {
        min-height: 800px;
    }

    .hero__content {
        max-width: 700px;
        margin: auto;

        &>h1 {
            font-size: 3em;
            line-height: 1.4;
            margin-bottom: 0.75rem;
        }

        &>p {
            font-size: 1.2em;
            line-height: 1.7;
        }

        & button {
            padding: 1rem 2.5rem;
            font-size: 1.15em;
            font-weight: 700;
        }
    }

    /* ABOUT */
    .kit__card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /* KITS */
    .about__card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /* SPONSORS */
    .sponsors__card-container {
        flex-direction: row;
        overflow: hidden;
        height: auto;
    }

    .sponsors__card {
        width: 440px;
        animation: carousel 20s linear 0s infinite;
    }

    .sponsors__container {
        &>.title-mobile {
            display: none;
        }

        &>.title-desktop {
            opacity: 0.5;
            display: block;
        }
    }

    /* FOOTER */
    .footer__columns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        &>* {
            &>* {
                margin-bottom: 1rem;
            }

            & p {
                opacity: 0.85;
            }

            &>h2 {
                color: var(--color-secondary);
            }
        }
    }
}

@keyframes carousel {
    from {
        translate: 0px 0px;
    }
    50% {
        translate: -600% -0px;
    }
    to {
        translate: 0px 0px;
    }
}